{% extends 'base.html' %}
{% block content %}


<div class="container">



{% if data %}


Nombre: {{data.nombre}} <br>

Descripcion: {% if data.descripcion %} {{data.descripcion}} {% else %} Ninguna {% endif %} <br>

Bases de Operaciones: {% if data.bases_operaciones %} 
{% for base in data.bases_operaciones %}

{% if base.id %}

<a href="{{url_for( 'get_object_info',table='Base_Operacion',pk=base.id )}}">{{base.nombre}} </a>

{% else %}

{{base.nombre}}

{% endif %}

{% if base != data.bases_operaciones | last %}
,
{% endif %}

{% endfor %}

{% else %} Ninguna {% endif %} 
<br>


{% endif %}

</div>

{% endblock content %}