{% extends 'base.html' %}
{% block content %}


<div class="container">



{% if data %}

<h3 class='text-center'><b>Base de Operaciones Nº {{data.id}} </b></h3>



<ul>
        <li><b>Nombre: </b>{{data.nombre}} </li>
        <li><b>Descripcion: </b> {% if data.descripcion %} {{data.descripcion}} {% else %} Ninguna {% endif %}
        </li>
        <li><b>Universo: </b> {% if data.universo %} <a href="{{url_for( 'get_object_info',table='Universo',pk=data.universo.id )}}">{{data.universo.nombre}} </a> {% else %} Desconocido {% endif %} </li>
        <li><b>Localizacion: </b>
            {% if data.localizacion %}

            {% for lugar in data.localizacion %}
            
            
            <a href="{{url_for( 'get_object_info',table='Lugar',pk=lugar.id )}}">{{lugar.nombre}} </a>
            {% if lugar != data.localizacion | last %}
            ,
            {% endif %}
            
            {% endfor %}
            
            {% else %}
            Desconocida
             
            {% endif %}

        
        
        </li>
        <li><b>Actualmente activo: </b>{% if data.activo == True %} Si {% elif data.activo == False %} No {% else %} Desconocido {% endif %} </li>
</ul>

  





</div>
{% endif %}
{% endblock content %}