<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
   
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top "  style='color:black;background: red'>
      <img style="width:12%;height:10%;" src="{{ url_for('static',filename='logo/marvel4.png') }}" alt="">
      
      
   
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item " style='font-size:15px;'>
            <a class="nav-link"   href="{{url_for('home')}}"><b>HOME</b> <span class="sr-only">(current)</span></a>
          </li>


<li class="nav-item dropdown " style='font-size:15px;'>
            <a class="nav-link dropdown-toggle"   href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>PERSONAJES</b></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01"> 
              <a class="dropdown-item"  href="{{url_for('get_table_list',table='Personaje_Competidor') }}"><b>COMPETIDORES</b></a>
              <a class="dropdown-item"  href="{{url_for('get_table_list',table='Personaje_NoCompetidor') }}"><b>NO COMPETIDORES</b></a>
              
            </div>
          </li>
           <li class="nav-item " style='font-size:15px;'>
              <a class="nav-link"  href="{{url_for('get_table_list',table='Evento') }}"><b>EVENTOS</b><span class="sr-only">(current)</span></a>
            </li>

             <li class="nav-item " style='font-size:15px;'>
                <a class="nav-link"  href="{{url_for('get_table_list',table='Universo') }}"><b>UNIVERSOS</b><span class="sr-only">(current)</span></a>
              </li>

               <li class="nav-item " style='font-size:15px;'>
                  <a class="nav-link"  href="{{url_for('get_table_list',table='Afiliacion') }}"><b>AFILIACIONES</b><span class="sr-only">(current)</span></a>
                </li>

                 <li class="nav-item " style='font-size:15px;'>
                    <a class="nav-link"  href="{{url_for('get_table_list',table='Base_Operacion') }}"><b>BASES DE OPERACIONES</b><span class="sr-only">(current)</span></a>
                  </li>

                   <li class="nav-item " style='font-size:15px;'>
                      <a class="nav-link"  href="{{url_for('get_table_list',table='Grupo') }}"><b>GRUPOS</b><span class="sr-only">(current)</span></a>
                    </li>

                     <li class="nav-item " style='font-size:15px;'>
                        <a class="nav-link"  href="{{url_for('get_table_list',table='Lugar') }}"><b>LUGARES</b><span class="sr-only">(current)</span></a>
                      </li>
          
        </ul>
        
        <form class="form-inline my-2 my-lg-0" method="get" id="form_search">
          <input id="input_categoria" style="width:450px" class="form-control mr-sm-2" type="text" placeholder="Buscar por categoria" aria-label="Search">
          <button class="btn btn-white-outline text-danger mr-2 my-sm-0" type="submit" onclick="change_action()">Buscar</button>
        </form>
      </div>
    </nav>
    
    <script>
      let form_search = document.getElementById("form_search");
      let input_categoria = document.getElementById("input_categoria");
      function change_action(){
        let text = input_categoria.value;
        form_search.action = '/categoria/' + text;
      }
      input_categoria.onsubmit = change_action;
    </script>

    <main role="main" class="container-fluid mt-5">

        <div>
          <br>
            {% block flash_messages %}
              {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class=flashes>
              {% for category, message in messages %}
                <li class="alert alert-danger" >{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          {% endblock flash_messages %}
          
             
          </div>
        {% macro render_field(field) %}
        {{ field.label }} <br>
        {{ field(**kwargs)|safe }} <br>
        {% if field.errors %} 
          <ul class=errors>
          {% for error in field.errors %}
            <li class="alert alert-danger">{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </dd>
      {% endmacro %}

        <br>
        {% block content %}
         
        {% endblock content %}

    </main>




  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
   
   {% block custom_js %}
   {% endblock %}
   
</body>
</html>