{% extends 'base.html' %}
{% block content %}
{% if data %}
<div class="container-fluid text-center">
<h3>{{data.nombre_real}} {% if data.apellido_real %} {{data.apellido_real}} {% endif %} 
        {% if data.universo %} <a href="{{url_for( 'get_object_info',table='Universo',pk=data.universo.id )}}">({{data.universo.nombre}}) </a> {% endif %}
    </h3>  
    <hr>
<div class="row">

<div class="col-sm-6 ml-5 text-justify">
        
    <h4>Biografia</h4>
    <hr>
    {{data.biografia}}
    <br> <br>
   
    <h4>Poderes y Habilidades</h4>
    <hr>
   <div class="floatright">
       <table cellpadding="0" cellspacing="0" style="border-left:1px solid grey;border-right:1px solid grey;border-top:1px solid grey;border-bottom:1px solid grey;">
        <tbody>
            <tr>
        <td colspan="2" style="text-align:center;background:grey;color:white;"><big><i><b>Cuadro de habilidades</b></i></big>&nbsp;<sup id="cite_ref-81" class="reference">
        </td>
        </tr>
        
        {% for hab in data.habilidades %}


        <tr style="height:32px;">

        <td style="height:30px;padding-left:3px;"><a class="pr-5" href="#" title="Power Grid">{{hab.nombre}}</a></td>
        <td style="height:30px;position:absolute;z-index:3;border-left:1px solid black;border-right:1px solid black;border-top:1px solid black;border-bottom:1px solid grey;">
            
        <table cellspacing="0" cellpadding="0" style="width: 300px; border:none;">
         
        <tbody><tr>
            {% if hab.valor!=7 %}
          <td style="text-align: right; height: 30px; width: {{hab.width}}%; background-color: #a2a2ac"></td>
          <td style="text-align: left; width: 57.142857142857%; background-color:"><font color="black">&nbsp;{{hab.valor}}</font></td>
          {% else %}
          <td style="text-align: right; height: 30px; width: {{hab.width}}%; background-color: #2145b8"><font color="#FFFFFF">{{hab.valor}}&nbsp;</font></td>
          <td style="text-align: left; width: 0%; background-color:"></td>
          {% endif %}
         </tr>
        </tbody>
         </table>
        
        </td>

        </tr>
<!--         
        no touch
         -->

         {% endfor %}
        <tr style="height:30px;">
        <td></td>
        <td style="width:301px;height:30px;position:relative;text-align:left;"></td>
        </tr></tbody></table></div>
      



</div>





<div class="col-sm-3 ml-5 text-justify border rounded ">

<h4 class="mt-3 text-center">{{data.nombre}}</h4>

<img style="width: 250px; height:350px;" class="rounded mx-auto d-block" src="{{ url_for('static',filename='personajes/' + data.foto_path) }}" alt=""> <hr>

<b> Nombre real: </b> {{data.nombre_real}} {% if data.apellido_real %} {{data.apellido_real}} {% endif %} <hr>

<b>Otros Alias:</b> 
{% if data.otros_alias %} 

{% for alias in data.otros_alias %}

<span style="font-size: 13px;"> {{alias.nombre}} </span>
{% if alias != data.otros_alias | last %}
,
{% endif %}

{% endfor %}

{% else %}
ninguno

{% endif %}  <hr>


<b>Genero:</b> {% if data.genero=='M' %} masculino {% elif data.genero=='F' %} femenino {% else %} desconocido {% endif %}  <hr>

<b>Universo:</b> {% if data.universo %} 
<a href="{{url_for( 'get_object_info',table='Universo',pk=data.universo.id )}}">{{data.universo.nombre}} </a>
{% else %}
desconocido
{% endif %}  <hr>

<b>Lugar de nacimiento:</b> {% if data.lugar_nacimiento %} 

{% for lugar in data.lugar_nacimiento %}


<a href="{{url_for( 'get_object_info',table='Lugar',pk=lugar.id )}}">{{lugar.nombre}} </a>
{% if lugar != data.lugar_nacimiento | last %}
,
{% endif %}

{% endfor %}

{% else %}
desconocido

{% endif %}  <hr>


<b>Afiliaciones:</b> 
{% if data.afiliaciones %} 

{% for obj in data.afiliaciones %}


<a href="{{url_for( 'get_object_info',table='Afiliacion',pk=obj.id )}}" style="font-size: 13px;">{{obj.nombre}} </a>
{% if obj != data.afiliaciones  | last %}
,
{% endif %}

{% endfor %}
{% else %}
ninguna

{% endif %}   <hr>



<b>Parientes:</b> 
{% if data.parientes %} 

{% for par in data.parientes %}



{% if par.pariente.apellido_real %}

<a 
{% if par.pariente.tipo=='pc' %}
href="{{url_for( 'get_object_info',table='Personaje_Competidor',pk=par.pariente.id )}}" 
{% else %}
href="{{url_for( 'get_object_info',table='Personaje_NoCompetidor',pk=par.pariente.id )}}" 
{% endif %}

style="font-size: 13px;">
    
    {{par.pariente.nombre_real}} {{par.pariente.apellido_real}} ({{par.tipo_relacion_pariente}})</a>


{% else %}
<a 
{% if par.pariente.tipo=='pc' %}
href="{{url_for( 'get_object_info',table='Personaje_Competidor',pk=par.pariente.id )}}" 
{% else %}
href="{{url_for( 'get_object_info',table='Personaje_NoCompetidor',pk=par.pariente.id )}}" 
{% endif %}
 style="font-size: 13px;">
 {{par.pariente.nombre_real}} ({{par.tipo_relacion_pariente}})</a>


{% endif %}

{% if par != data.parientes | last %}
,
{% endif %}


{% endfor %}


{% else %}
ninguno
{% endif %} 





<hr>


<b>Identidad:</b> {{data.identidad}} <hr>

<b>Estado civil:</b> {{data.estado_civil}} <hr>

<b>Moralidad:</b> {{data.moralidad}} <hr>

<b>Altura:</b> {% if data.altura %} 
{{data.altura}}mts
{% if data.altura_opcional %} - {{data.altura_opcional}}mts {% endif %} 
{% else %}
desconocida
{% endif %}  <hr>

<b>Peso:</b> {% if data.peso %} 
{{data.peso}}kg
{% if data.peso_opcional %} - {{data.peso_opcional}}kg {% endif %} 
{% else %}
desconocido
{% endif %}  <hr>


<b>Color de ojos: </b>{% if data.color_ojos %} 
{{data.color_ojos.nombre}}
{% else %}
sin color
{% endif %}  <hr>


<b>Color de pelo:</b> {% if data.color_pelo %} 
{{data.color_pelo.nombre}}
{% else %}
sin color
{% endif %}  <hr>












</div>




</div>
</div>
{% endif %}

{% endblock content %}