
{% extends 'base.html' %}
{% block content %}


<div class="container">




    


{% if data %}
<h3 class='text-center'><b>Lista de 
    {% if table=='Universo' %} Universos
    {% elif table=='Lugar' %} Lugares
    {% elif table=='Base_Operacion' %} Bases de Operaciones
    {% elif table=='Afiliacion' %} Afiliaciones
     {% endif %}


</b></h3>
<table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            {% if table=='Base_Operacion' %}
            <th scope="col">Universo</th>
            {% endif %}
            {% if table=='Lugar' %}
            <th scope="col">Tipo</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>

{% for object in data %}

          <tr onclick=" location.href='{{url_for( 'get_object_info',table=table,pk=object.id )}}' ">
            <th scope="row">{{object.id}}</th>
            <td>  {{object.nombre}}
            </td>
            {% if table=='Base_Operacion' %}
            <td> {{object.universo}}
                </td>
            {% endif %}
            {% if table=='Lugar' %}
            <td> {% if object.tipo %} 
              {% if object.tipo == 'mundo_mitologico' %}
              mundo mitologico
              {% elif object.tipo == 'dimension_magica' %}
              dimension magica
              {% else %}
              {{object.tipo}} 
              {% endif %}
              
              {% else %} 
              {% if object.tipo_geografico == 'locale' %}
              localidad 
              {% else %}
              {{object.tipo_geografico}}
              {% endif %}

              {% endif %}
                </td>
            {% endif %}

            

          </tr>
          
{% endfor %}

        </tbody>
      </table>











{% endif %}

</div>

{% endblock content %}